.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: blue;
    width: 100vw; /* Use vw for viewport width (optional) */
  }
  
  .cursor {
    position: sticky;
    top: 0;
    left: 0;
    pointer-events: none; /* Prevent cursor interaction */
  }
  
  .cursor svg {
    background-color: rgb(2, 2, 2);
    /* Style your square SVG here (e.g., background color, border) */
  }
  
  
  